<tr>
  <td><%= link_to notifier.id, edit_notifier_path(notifier) %></td>
  <td><%= notifier.notification_type %></td>
  <td><%= notifier.event_name %></td>
  <td><%= link_to 'delete', notifier, { method: :delete, data: { confirm: 'Are you sure?' } } %></td>
</tr>
