<header id="navigation">
  <div id="navigation-content">
    <h1 class="navbar-brand">
      <a id="logo" href="/">Notifilter</a>
    </h1>

    <ul class="navbar">
      <li><%= link_to "New notification", new_notifier_path %></li>
    </ul>

    <ul class="navbar pull-right">
    </ul>
  </div>
</header>
